main{
	width: 700px;
	margin: auto;
}

header{
	font-size: 30px;
	color: green;
	margin: 20px;
}

section > div{
	padding: 5px;
	font-size: 15px;
}

section > div > a{
	color: black;
}